<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /pharmacy/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /pharmacy/index.html [L]
</IfModule>